@import "tailwindcss";

/* Base reset minimale */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* My personal font */
@font-face {
  font-family: "kidfont";
  src: url("./assets/fonts/kidfont.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "kidfont", sans-serif;
}

/* Paper texture */

:root {
  --paper: #fff8e9;
  --line-color: rgba(59, 130, 246, 0.22);
  --line-gap: 20px;
  --line-thickness: 1px;
  --margin-color: rgba(239, 68, 68, 0.2);
  --margin-x: 80px;
}

body {
  background-color: var(--paper);
  background-image:
    repeating-linear-gradient(
      to bottom,
      transparent 0 calc(var(--line-gap) - var(--line-thickness)),
      var(--line-color) calc(var(--line-gap) - var(--line-thickness)) var(--line-gap)
    ),
    linear-gradient(
      to right,
      transparent 0 calc(var(--margin-x) - 1px),
      var(--margin-color) calc(var(--margin-x) - 1px) calc(var(--margin-x) + 1px),
      transparent calc(var(--margin-x) + 1px) 100%
    );

  background-attachment: fixed;
}
